<div style="display: block; height: 33px;" id="hellobar-wrapper" class="hellobar-right hellobar-dark-images">
  <div id="hellobar-container" style="background-color: rgb(235, 89, 60); top: 0px;">
    <span style="color: rgb(0, 17, 255); font-family: serif;"> Add a Hello Bar to your website in minutes!</span> 
    <a href="http://hello.gs/HBdemo" target="_blank" style="color: rgb(128, 204, 255); font-family: serif;">Give it a Try</a>
    <a href="http://old.hellobar.com/?utm_source=http://&amp;utm_medium=hellobar&amp;utm_campaign=HBDemo" title="The HelloBar - a little bar that gets noticed!" target="_blank" id="hellobar-logo">The HelloBar - a little bar that gets noticed!</a>
    <a href="#close" id="hellobar-close">Close</a>
    <div id="hellobar-shadow"></div>
  </div><a href="#close" id="hellobar-open" style="top: -96px; background-color: rgb(235, 89, 60);">Open</a>
</div>