<div class="container ">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: What is First Order?</a>
              </h4>

            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>The app focuses on acquiring new customers for your store. Since the customer is new, you would offer a significant discount to entice him/her. In addition, it is likely that the new customer would make a single purchase. This is because the customer is just trying out the store. Thus, it makes sense to offer a discount based on a single purchase, automatically apply the discount and bring the customer to check out immediately.</p>
                </div>
            </div>
        </div>
         <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: How does it work?</a>
              </h4>

            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>The app search for a checkout form on the page. If it can find it, it is enabled. It would use the variant selected or use the first variant if none are selected. If the app is not working, please check on the browser javascript console. If you see a message "First Order is not enabled", then sorry the app does not work with your theme. The app works with most of the themes. It does not work with themes that are heavily customized with UI framework like Angular, Ember. </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: What kind of discount code to use?</a>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>First, we need a discount code that limits the customer to 1 use only. This is because it should be a special discount just for new customers. If it is can be used more than once, it would not be special. Second, we need the discount to be active and no end date. This makes it easy for management. Do not worry about control since it is already limited to 1 use per customer and you can disable the discount code when you uninstall the app. Please do not let use the discount code elsewhere. This would make it easy to check on the effectiveness of the app.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: When do we trigger the offer?</a>
              </h4>

            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>It can be any value from 10 seconds to 60 seconds. It depends on how aggressive or conservative you want to be. Please consider it carefully together with the discount and strike a balance. If you have Google Analytics installed, you can use the avg. session duration of your channel/landing page to help you make a decision. Otherwise, leave it to use the default value.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: How do I disable it on certain page?</a>
              </h4>

            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>You can disable it by adding meta-data to the page.  For more information refer to "Read Me First".  Please feel free to contact me for help.  eg@showcrowd.co</a> </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: I need more help?</a>
              </h4>

            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Please feel free to support: eg@showcrowd.co</a> </p>
                </div>
            </div>
        </div>
        
    </div>
    <!--/panel-group-->
</div>